    "d<<NUM>>" => (
        "port" => 990<<NUM>>,
        "max-procs" => 1,
        "bin-path" => "/usr/local/dcp/cgi-bin/oi2.fcgi",
        "docroot" => "/usr/local/dcp",
        "check-local" => "disable",
        "host" => "127.0.0.1",
        "fix-root-scriptname" => "enable"
    )
