# provided_services.config - List of published services.

# port    bind addr    hostname               to     flags
######    #########    ########               ##     #####

20000     *            live-blog-1            22     userlogin
20001     10.0.0.1     live-blog-1            80
#20002
#20003
#20004
20005     *            live-blog-2            22     userlogin
20006     10.0.0.1     live-blog-2            80
20007     *            dcp-2                  22
#20008
#20009
#20010
#20011
#20012
20013     *            legacy-media-1         22     userlogin gwonly
20014     *            legacy-media-2         22     userlogin gwonly
20015     *            jojo                   22     userlogin
20016     *            miner                  22     userlogin
20017     *            dcp-1                  22
20018     *            dev-core               22     userlogin
20019     10.0.0.1     dev-core               80
#20020
#20021
#20022
#20023
#20024
#20025
#20026
20027     *            dev-dcp                22
20028     10.0.0.1     dev-dcp                80
#20029    *            kukka                  22     userlogin
#20030    *            pilvi                  22     userlogin
20031     *            savu                   22     userlogin
20032     *            ruoho                  22     userlogin
20033     *            beta-http-core-1       22     userlogin
20034     *            beta-http-core-2       22     userlogin
20035     *            dev-events             22     userlogin
20036     10.0.0.1     dev-events             8000
20037     *            blogging               22
20038     10.0.0.1     blogging               80
20039     *            live-mogile-1          22     userlogin
20040     *            live-mogile-2          22     userlogin
#20041    *            main-mysql-a           22     #criticalcomment
#20042    localhost    main-mysql-a           3306   #criticalcomment
20043     *            live-urlcache-1        22     userlogin
20044     *            live-urlcache-2        22     userlogin
20045     10.0.0.1     beta-http-core-1       80     servicepool
20046     10.0.0.1     beta-http-core-2       80     servicepool
20047     localhost    live-mogile-1          7001
20048     localhost    live-mogile-2          7001
20049     10.0.0.1     dcp-2                  80
20050     *            kivi                   22     userlogin
20051     *            yrtti                  22     userlogin
20052     *            beta-api-1             22     userlogin
20053     10.0.0.1     beta-api-1             8000   servicepool
20054     *            beta-api-2             22     userlogin
20055     10.0.0.1     beta-api-2             8000   servicepool
20056     10.0.0.1     live-urlcache-1        8000   servicepool
20057     10.0.0.1     live-urlcache-2        8000   servicepool
20058     *            dev-worker-js          22     userlogin
20059     *            dev-memcached          22     userlogin
20060     localhost    dev-memcached          11211
20061     10.0.0.1     dcp-1                  80
20062     *            live-events-1          22     userlogin
20063     *            live-events-2          22     userlogin
#20064
20065     *            nag-1                  22     userlogin gwonly
20066     10.0.0.1     live-events-1          8000
20067     10.0.0.1     live-events-2          8000
20068     *            live-web-1             22     userlogin
20069     10.0.0.1     live-web-1             80
20070     *            live-web-2             22     userlogin
20071     10.0.0.1     live-web-2             80
20072     *            elk                    22     userlogin
20073     10.0.0.1     elk                    80
20074     localhost    elk                    1514
20075     *            beta-dcp               22
20076     10.0.0.1     beta-dcp               80
20077     *            dev-sloth-1            22     userlogin
20078     *            dev-sloth-2            22     userlogin
20079     *            dev-api                22     userlogin
20080     10.0.0.1     dev-api                8000   servicepool
20081     *            live-sloth-1           22     userlogin
20082     *            live-sloth-2           22     userlogin
#20083
20084     *            mm-mysql-5             22     userlogin
20085     localhost    mm-mysql-5             3306
20086     *            mm-mysql-6             22     userlogin
20087     localhost    mm-mysql-6             3306
20088     *            master                 22     userlogin
20089     *            puppet                 22     userlogin
20090     *            myssy                  22     userlogin
20091     *            keksi                  22     userlogin
20092     10.0.0.1     miner                  80
20093     *            blog-mysql-1           22     userlogin
20094     localhost    blog-mysql-1           3306
20095     *            blog-mysql-2           22     userlogin
20096     localhost    blog-mysql-2           3306
#20097
#20098
#20099
#20100
#20101
#20102
20103     *            live-gearman-1         22     userlogin
20104     *            live-gearman-2         22     userlogin
20105     localhost    live-gearman-1         4730
20106     localhost    live-gearman-2         4730
#20107
#20108
#20109
#20110
20111     10.0.0.1     puppet                 80     #webhook
20112     *            dev-gearman            22     userlogin
20113     localhost    dev-gearman            4730
20114     *            pacman                 22     userlogin
20115     *            dev-mysql              22     userlogin
20116     localhost    dev-mysql              3306
20117     *            dev-mogile-1           22     userlogin
20118     localhost    dev-mogile-1           7001
20119     *            dev-mogile-2           22     userlogin
20120     localhost    dev-mogile-2           7001

### 20121-20145

20146     *            log-1                  22     userlogin
20147     localhost    log-1                  1514
20148     *            log-2                  22     userlogin
20149     localhost    log-2                  1514
#20150
#20151
20152     *            beta-gearman           22     userlogin
20153     localhost    beta-gearman           4730
20154     *            beta-sloth-1           22     userlogin
20155     *            beta-sloth-2           22     userlogin
20156     *            beta-memcached         22     userlogin
20157     localhost    beta-memcached         11211
20158     *            backup-1               22     userlogin
20159     *            backup-2               22     userlogin
20160     *            dev-front              22     userlogin
20161     *            live-front-1           22     userlogin
20162     *            live-front-2           22     userlogin
20163     *            beta-worker-js-1       22     userlogin
20164     *            beta-worker-js-2       22     userlogin
20165     *            live-stats-1           22     userlogin
20166     10.0.0.1     live-stats-1           8000   servicepool
20168     *            beta-worker-core-1     22     userlogin
20169     *            beta-worker-core-2     22     userlogin
20170     *            stable-api-1           22     userlogin
20171     10.0.0.1     stable-api-1           8000   servicepool
20172     *            stable-api-2           22     userlogin
20173     10.0.0.1     stable-api-2           8000   servicepool
20174     *            live-api-1             22     userlogin
20175     10.0.0.1     live-api-1             8000   servicepool
20176     *            live-api-2             22     userlogin
20177     10.0.0.1     live-api-2             8000   servicepool
20178     *            test-api-1             22     userlogin
20179     10.0.0.1     test-api-1             8000   servicepool
20180     *            test-api-2             22     userlogin
20181     10.0.0.1     test-api-2             8000   servicepool
20182     *            alpha-api-1            22     userlogin
20183     10.0.0.1     alpha-api-1            8000   servicepool
20184     *            alpha-api-2            22     userlogin
20185     10.0.0.1     alpha-api-2            8000   servicepool
#20186
20187     *            test-front-1           22     userlogin
20188     *            test-stats-1           22     userlogin
20189     10.0.0.1     test-stats-1           8000   servicepool
20190     *            test-memcached-1       22     userlogin gwonly
20191     *            test-memcached-2       22     userlogin gwonly
20192     *            test-cron-core-1       22     userlogin
20193     *            test-http-core-1       22     userlogin
20194     *            test-http-core-2       22     userlogin
20195     10.0.0.1     test-http-core-1       80     servicepool
20196     10.0.0.1     test-http-core-2       80     servicepool
20197     *            test-worker-core-1     22     userlogin
20198     *            test-worker-core-2     22     userlogin
20199     *            test-cuty-1            22     userlogin
20200     10.0.0.1     test-cuty-1            8000   servicepool
20201     *            test-sloth-1           22     userlogin
20202     *            test-sloth-2           22     userlogin
20203     *            test-mogile-1          22     userlogin
20204     *            test-mogile-2          22     userlogin
20205     localhost    test-mogile-1          7001
20206     localhost    test-mogile-2          7001
20207     *            test-mysql-1           22     userlogin
20208     *            test-mysql-2           22     userlogin
20209     localhost    test-mysql-1           3306
20210     localhost    test-mysql-2           3306
20211     *            test-urlcache-1        22     userlogin
20212     *            test-urlcache-2        22     userlogin
20213     10.0.0.1     test-urlcache-1        8080   servicepool
20214     10.0.0.1     test-urlcache-2        8080   servicepool
20215     *            test-gearman-1         22     userlogin
20216     *            test-gearman-2         22     userlogin
20217     localhost    test-gearman-1         4730
20218     localhost    test-gearman-2         4730
#20219
20220     *            live-cuty-1            22     userlogin
20221     *            live-cuty-2            22     userlogin
20222     10.0.0.1     live-cuty-1            8000   servicepool
20223     10.0.0.1     live-cuty-2            8000   servicepool
20224     *            live-memcached-1       22     userlogin gwonly
20225     *            live-memcached-2       22     userlogin gwonly
20226     *            live-worker-core-1     22     userlogin
20227     *            live-worker-core-2     22     userlogin
20228     *            live-http-core-1       22     userlogin
20229     *            live-http-core-2       22     userlogin
20230     10.0.0.1     live-http-core-1       80     servicepool
20231     10.0.0.1     live-http-core-2       80     servicepool
20232     *            live-wpmu-1            22     userlogin
20233     *            live-worker-js-1       22     userlogin
20234     *            live-worker-js-2       22     userlogin
20235     *            dev-gsloth-1           22     userlogin
20236     *            dev-gsloth-2           22     userlogin
20237     *            pata                   22     userlogin
20238     *            kamu                   22     userlogin
20239     *            vesi                   22     userlogin
20240     *            tuli                   22     userlogin
20241     *            ilma                   22     userlogin

### Active aliases

29998     *            live-front-a           22     userlogin
#29997    reserved     blog-mysql-a
29996     localhost    blog-mysql-a           33066
29995     *            blog-mysql-a           22     userlogin
#29994    reserved     mm-mysql-a
29993     localhost    mm-mysql-a             33066
29992     *            mm-mysql-a             22     userlogin
29991     *            live-blog-a            22     userlogin
29990     10.0.0.1     live-blog-a            80
29989     *            legacy-media-a         22     userlogin
29988     10.0.0.1     legacy-media-a         80
#29987    reserved     test-mysql-a
29986     localhost    test-mysql-a           33066
29985     *            test-mysql-a           22     userlogin
29984     *            test-memcached-a       22     userlogin
29983     localhost    test-memcached-a       11211
29982     *            live-memcached-a       22     userlogin
29981     localhost    live-memcached-a       11211
29980     *            live-wpmu-a            22     userlogin
29979     10.0.0.1     live-wpmu-a            8080

### Direct access

8140      10.0.0.1     puppet                 8140
8240      10.0.0.1     master                 8140
7702      localhost    live-mogile-1          7500
7703      localhost    live-mogile-1          7501
7704      localhost    live-mogile-2          7500
7705      localhost    live-mogile-2          7501
7706      localhost    test-mogile-1          7500
7707      localhost    test-mogile-1          7501
7708      localhost    test-mogile-2          7500
7709      localhost    test-mogile-2          7501
7710      localhost    dev-mogile-1           7500
7711      localhost    dev-mogile-1           7501
7712      localhost    dev-mogile-2           7500
7713      localhost    dev-mogile-2           7501
